{% load static %}

<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class="pt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 ms-auto">
            <h4 class="mb-1">Thank you for your support!</h4>
            <p class="lead mb-0">We deliver the best web products</p>
          </div>
          <div class="col-lg-5 me-lg-auto my-lg-auto text-lg-end mt-5">
            <a href="https://twitter.com/intent/"
               class="btn btn-info mb-0 me-2" target="_blank">
              <i class="fab fa-twitter me-1"></i> Tweet
            </a>
            <a href="https://www.facebook.com/sharer/"
               class="btn btn-primary mb-0 me-2" target="_blank">
              <i class="fab fa-facebook-square me-1"></i> Share
            </a>
            <a href="https://www.pinterest.com/pin/create/button/"
               class="btn btn-dark mb-0 me-2" target="_blank">
              <i class="fab fa-pinterest me-1"></i> Pin it
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="text-center">
        <p class="my-4 text-sm">
          &copy; <a href="" target="_blank">Creative Team</a> - Coded by
          Me.
        </p>
      </div>
    </div>
  </div>
</footer>
